<configuration>
  <system.webServer>
    
    <!-- indicates that the index.js file is a node.js application 
    to be handled by the iisnode module -->
    
    <handlers>
      <add name="iisnode" path="nodeHomePage.js" verb="*" modules="iisnode" />
    </handlers>

    <defaultDocument enabled="true">
      <files>
        <add value="nodeHomePage.js" />
      </files>
    </defaultDocument>
    
  </system.webServer>
</configuration>
